# Ignore list
/*

# Do not ignore these folders:
!__tests__/
!src/
<html>

<head>

<link rel="stylesheet"

type="text/css" href="styles.css">

</head>

<body>

<h1>Content of your website.

</h1>

</body> </html>
  <html><title>Hello World</title>
  <style>
 </style>
<body>

Hello World

</body>

</html> https://httpsrathanaphon.com.in/

   HTMLpage 

     

     rathanaphon29@gmail.com

     (<head></head>):                   



<!-- Google tag (gtag.js) --> <script async src="https://www.
https://www.googletagmanager.com/gtag/js?id=AW-10919038707
script> <script> window.dataLayer = window.dataLayer || []; gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-10919038707'); </script>
https://cdn.ampproject.org/v0/amp-analytics-0.1.js
 (example: Google Analytics AW-10919038707
   <meta name="<script></script>"/> 
     (<head></head>) 
     <!-- Event snippet for Total apayment conversion page --> <script> gtag('event', 'conversion', {'send_to': 'AW-10919038707/WfOzCIzI85AYEPOdzdYo'}); </script> rathana phone/Shop1.
     HTML
     <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>    
Then, copy the tag below and paste it between the body tags (<body></body>) of all of your AMP pages 
<!-- Google tag (gtag.js) --> <amp-analytics type="gtag" data-credentials="include"> <script type="application/json"> { "vars": { "gtag_id": 
"AW-10919038707", "config": { "AW-10919038707": { "groups": "default" } } }, "triggers": { } } </script> </amp-analytics> 
      AW-10919038707": { "groups": "default" } 
      C_clTnKZQcIbE": { "on": "visible", "vars": { "event_name": "conversion", "send_to": ["AW-10919038707/WfOzCIzI85AYEPOdzdYo"] } }
  Link Great 
 SDK      c++
(<project>)/build.gradle):
       
https://rathanaphonwebsiteco.
 buidscipt {
    reposteoriee {
    // check that. you have following link (if not,add if):
    goodle(). // Google 's Maven repository}
    }
    depencies }
    ...
    // add this link
    classparh 'com.google.gms: Maven repository }
    ...
    }
}

allproject  {
...
 repository {
    // check that you The following link (if not.add if):
    google () // google 's Maver respository
    }
}
    
app-level build.gradie(<project>/<app-module>/build.gradie):
 
 apply plugin  'com.android.application'
 // Add this line
 apply plugin:. come.google.gms.google-services'
 
 
 dependencies {
 // add the Firsebase SDK this Link
 apply plugsin: 'com.google.gms.google-services'


// add the firebase SDK for Google analytics
implementation,'com.google.firebased Firebase products
//add SDKs for any other desired Firebase products
//https://firebase.google.com/docs/android/setup#availe-libraies
}HTMLpage 
     
     rathanaphon29@gmail.com
     (<head></head>):                    

<!-- Google tag (gtag.js) --> <script async src="https://www.
https://www.googletagmanager.com/gtag/js?id=AW-10919038707
script> <script> window.dataLayer = window.dataLayer || []; gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-10919038707'); </script>
https://cdn.ampproject.org/v0/amp-analytics-0.1.js
 (example: Google Analytics AW-10919038707
   <meta name="<script></script>"/> 
     (<head></head>) 
     <!-- Event snippet for Total apayment conversion page --> <script> gtag('event', 'conversion', {'send_to': 'AW-10919038707/WfOzCIzI85AYEPOdzdYo'}); </script> rathana phone/Shop1.
     HTML<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>    

Then, copy the tag below and paste it between the body tags (<body></body>) of all of your AMP pages 

<!-- Google tag (gtag.js) --> <amp-analytics type="gtag" data-credentials="include"> <script type="application/json"> { "vars": { "gtag_id": 

"AW-10919038707", "config": { "AW-10919038707": { "groups": "default" } } }, "triggers": { } } </script> </amp-analytics> 

      AW-10919038707": { "groups": "default" } 

      C_clTnKZQcIbE": { "on": "visible", "vars": { "event_name": "conversion", "send_to": ["AW-10919038707/WfOzCIzI85AYEPOdzdYo"] } }

  Link Great 

 SDK      c++

       (<project>)/build.gradle):

       

https://rathanaphonwebsiteco.

 buidscipt {

    reposteoriee {

    // check that. you have following link (if not,add if):

    goodle(). // Google 's Maven repository}

    }

    depencies }

    ...

    // add this link

    classparh 'com.google.gms: Maven repository }

    ...

    }

}

allproject  {

...

 repository {

    // check that you The following link (if not.add if):

    google () // google 's Maver respository

    }

}
app-level build.gradie(<project>/<app-module>/build.gradie):

 

 apply plugin  'com.android.application'

 // Add this line

 apply plugin:. come.google.gms.google-services'

 

 

 dependencies {

 // add the Firsebase SDK this Link

 apply plugsin: 'com.google.gms.google-services'

// add the firebase SDK for Google analytics

implementation,'com.google.firebased Firebase products

//add SDKs for any other desired Firebase products

//https://firebase.google.com/docs/android/setup#availe-libraies

}<!DOCTYPE html>

<html lang="en">

<head>

<title>Hello World</title>

<style>

</style>

</head>

<body>

Hello World

</body>

</html> https://www.rathanaphon.com.in/

   HTMLpage 

     

     rathanaphon29@gmail.com

     (<head></head>):                    

<!-- Google tag (gtag.js) --> <script async src="https://www.

https://www.googletagmanager.com/gtag/js?id=AW-10919038707

script> <script> window.dataLayer = window.dataLayer || []; gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-10919038707'); </script>

https://cdn.ampproject.org/v0/amp-analytics-0.1.js

 (example: Google Analytics AW-10919038707

   <meta name="<script></script>"/> 

     (<head></head>) 

     <!-- Event snippet for Total apayment conversion page --> <script> gtag('event', 'conversion', {'send_to': 'AW-10919038707/WfOzCIzI85AYEPOdzdYo'}); </script> rathana phone/Shop1.


HTML

     <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>    

Then, copy the tag below and paste it between the body tags (<body></body>) of all of your AMP pages 

<!-- Google tag (gtag.js) --> <amp-analytics type="gtag" data-credentials="include"> <script type="application/json"> { "vars": { "gtag_id": 

"AW-10919038707", "config": { "AW-10919038707": { "groups": "default" } } }, "triggers": { } } </script> </amp-analytics> 

      AW-10919038707": { "groups": "default" } 

      C_clTnKZQcIbE": { "on": "visible", "vars": { "event_name": "conversion", "send_to": ["AW-10919038707/WfOzCIzI85AYEPOdzdYo"] } }

  Link Great 

 SDK      c++

       (<project>)/build.gradle):

       

https://rathanaphonwebsiteco.

 buidscipt {

    reposteoriee {

    // check that. you have following link (if not,add if):

    goodle(). // Google 's Maven repository}

    }

    depencies }

    ...

    // add this link

    classparh 'com.google.gms: Maven repository }

    ...

    }

}

allproject  {

...

 repository {

    // check that you The following link (if not.add if):

    google () // google 's Maver respository

    }

}

    

app-level build.gradie(<project>/<app-module>/build.gradie):

 

 apply plugin  'com.android.application'

 // Add this line

 apply plugin:. come.google.gms.google-services'

 

 

 dependencies {

 // add the Firsebase SDK this Link

 apply plugsin: 'com.google.gms.google-services'

// add the firebase SDK for Google analytics

implementation,'com.google.firebased Firebase products

//add SDKs for any other desired Firebase products

//https://firebase.google.com/docs/android/setup#availe-libraies

}HTMLpage 

     

     rathanaphon29@gmail.com

     (<head></head>):                    
  <!-- Event snippet for Total apayment conversion page --> <script> gtag('event', 'conversion', {'send_to': 'AW-10919038707/WfOzCIzI85AYEPOdzdYo'}); </script> rathana phone/Shop1.
     HTML
     <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>    
Then, copy the tag below and paste it between the body tags (<body></body>) of all of your AMP pages 
<!-- Google tag (gtag.js) --> <amp-analytics type="gtag" data-credentials="include"> <script type="application/json"> { "vars": { "gtag_id": 
"AW-10919038707", "config": { "AW-10919038707": { "groups": "default" } } }, "triggers": { } } </script> </amp-analytics> 
      AW-10919038707": { "groups": "default" } 
      C_clTnKZQcIbE": { "on": "visible", "vars": { "event_name": "conversion", "send_to": ["AW-10919038707/WfOzCIzI85AYEPOdzdYo"] } }
  Link Great 
 SDK      c++
       (<project>)/build.gradle):
       
https://rathanaphonwebsiteco.
 buidscipt {
    reposteoriee {
    // check that. you have following link (if not,add if):
    goodle(). // Google 's Maven repository}
    }
    depencies }
    ...
    // add this link
    classparh 'com.google.gms: Maven repository }
    ...
    }
}

allproject  {
...
 repository {
    // check that you The following link (if not.add if):
    google () // google 's Maver respository
    }
}
    
app-level build.gradie(<project>/<app-module>/build.gradie):
 
 apply plugin  'com.android.application'
 // Add this line
 apply plugin:. come.google.gms.google-services'
 
 
 dependencies {
 // add the Firsebase SDK this Link
 apply plugsin: 'com.google.gms.google-services'


// add the firebase SDK for Google analytics
implementation,'com.google.firebased Firebase products
//add SDKs for any other desired Firebase products
//https://firebase.google.com/docs/android/setup#availe-libraies
}https://www.rathanaphon.com.in/<style></style><script>HTMLpage 
     
     rathanaphon29@gmail.com
     (<head></head>):                    

<!-- Google tag (gtag.js) --> <script async src="https://www.
https://www.googletagmanager.com/gtag/js?id=AW-10919038707
script> <script> window.dataLayer = window.dataLayer || []; gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-10919038707'); </script>
https://cdn.ampproject.org/v0/amp-analytics-0.1.js
 (example: Google Analytics AW-10919038707
   <meta name="<script></script>"/> 
     (<head></head>) 
     <!-- Event snippet for Total apayment conversion page --> <script> gtag('event', 'conversion', {'send_to': 'AW-10919038707/WfOzCIzI85AYEPOdzdYo'}); </script> rathana phone/Shop1.
     HTML
     <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>    
Then, copy the tag below and paste it between the body tags (<body></body>) of all of your AMP pages 
<!-- Google tag (gtag.js) --> <amp-analytics type="gtag" data-credentials="include"> <script type="application/json"> { "vars": { "gtag_id": 
"AW-10919038707", "config": { "AW-10919038707": { "groups": "default" } } }, "triggers": { } } </script> </amp-analytics> 

src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>    

Then, copy the tag below and paste it between the body tags (<body></body>) of all of your AMP pages 

<!-- Google tag (gtag.js) --> <amp-analytics type="gtag" data-credentials="include"> <script type="application/json"> { "vars": { "gtag_id": 

"AW-10919038707", "config": { "AW-10919038707": { "groups": "default" } } }, "triggers": { } } </script> </amp-analytics> 

      AW-10919038707": { "groups": "default" } 

      C_clTnKZQcIbE": { "on": "visible", "vars": { "event_name": "conversion", "send_to": ["AW-10919038707/WfOzCIzI85AYEPOdzdYo"] } }

  Link Great 

 SDK      c++

       (<project>)/build.gradle):

       

https://rathanaphonwebsiteco.

 buidscipt {

    reposteoriee {

    // check that. you have following link (if not,add if):

    goodle(). // Google 's Maven repository}

    }

    depencies }

    ...

    // add this link

    classparh 'com.google.gms: Maven repository }

    ...

    }

}

allproject  {

...

 repository {

    // check that you The following link (if not.add if):

    google () // google 's Maver respository

    }

}

    

app-level build.gradie(<project>/<app-module>/build.gradie):

 

 apply plugin  'com.android.application'

 // Add this line

 apply plugin:. come.google.gms.google-services'

 

 

 dependencies {

 // add the Firsebase SDK this Link

 apply plugsin: 'com.google.gms.google-services'

// add the firebase SDK for Google analytics 4

implementation,'com.google.firebased Firebase products

//add SDKs for any other desired Firebase products

//https://firebase.google.com/docs/android/setup#availe-libraies

}</script>
"project_info":{

"project_number": "244145628679", "project_id": "httpsrathanaphonwebsitcoin",

"storage bucket": "httpsrathanaphonwebsitcoin.appspot.com"

}, "client": [

{

"client_info":{ "mobilesdk_app_id":

"1:244145628679: android:a7f10297db1a854b396ca2", "android_client_info": {

"package_name": "httpsrathanaphon.website.co"

}

"oauth_client": [

{

"client_id": "244145628679- 51pa61gqs6naujcec6om73v6hbhr1pq7.apps.googleusercontent.com" }

"client_type":3

"api_key": [ {

"current_key": "AIzaSyAZwzbBslhqIFIc2c2- wJRru9PRcwpeu71"

}

"services": {

"appinvite_service": { "other_platform_oauth_client": [

{

"client_id": "244145628679-

51pa61gqs6naujcec6om73v6hbhr1pq7.apps.googleusercontent.com"

"client_type": 3

}

2

}

1.

}

"configuration_version": "1"


